
.container{
    padding-top: 30px;
    width: 94%;
    height: 100%;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: #eeeeee;
        height: 220px;
        width: 290px;
        margin: 20px;
        cursor: pointer;

        border: 1px solid #e2e2e2;
        box-shadow: 3px 1px 5px #e2e2e2;

        .card-img {
            height: 190px; 
            width: 190px; 
            transform: scale(1.2, 1.5);
        }
        .card-title {
            text-align: center;
            padding-bottom: 20px;
            margin: 0;
            top: 0;
            font-weight: 200;
            font-size: 27px;
            color: #7F7A7A;
        }
    }

}