<div class="container">
    <div class="card-container">
        <a routerLink="/wtd" class="card" @bump>
            <img class="card-img" src="./../../assets/Electricity.png">
            <h3 class="card-title">Electricity</h3>
        </a>
        <a routerLink="/wtd" class="card" @bump>
            <img  class="card-img" src="./../../assets/Forest.png">
            <h3 class="card-title">Deforstation</h3>
        </a>
        <a routerLink="/wtd" class="card" @bump>
            <img  class="card-img" src="./../../assets/Car.png">
            <h3 class="card-title">Transportation</h3>
        </a>
        <a routerLink="/wtd" class="card" @bump2>
            <img  class="card-img" src="./../../assets/Leaf.png">
            <h3 class="card-title">Consumption</h3>
        </a>
        <a routerLink="/wtd" class="card" @bump2>
            <img class="card-img" src="./../../assets/Recycle.png">
            <h3 class="card-title">Recycling</h3>
        </a>
        <a routerLink="/wtd" class="card" @bump2>
            <img  class="card-img" src="./../../assets/Windmill.png">
            <h3 class="card-title">Renewable Energy</h3>
        </a>
    </div>
</div>
